@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css");

body {
  @apply bg-[url('/static/images/wallpaper.jpg')] bg-no-repeat bg-cover bg-center h-screen transition-all ease-in-out;
}

.text-shadow-sm {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-shadow-md {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.text-shadow-lg {
  text-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
}
.text-shadow-none {
  text-shadow: none;
}
.shadowZ {
  mix-blend-mode: multiply;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55),
    0px 36px 100px 0px rgba(0, 0, 0, 0.4);
}

.alert_backing {
  backdrop-filter: blur(40.774227142333984px);
}

.inner_shadow {
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.1) inset;
}

.oval {
  fill: #f5f5f5;
}
.cc-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --un-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--un-bg-opacity));
  --un-text-opacity: 1;
  color: rgba(255, 255, 255, var(--un-text-opacity));
}

.cc-btn-active {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #9ca3af40;
  --un-text-opacity: 1;
  color: rgba(55, 65, 81, var(--un-text-opacity));
}
