@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css");

.background {
  @apply bg-[url('/static/images/somona.jpg')] bg-no-repeat bg-cover bg-center h-screen transition-all ease-in-out;
}
.text-shadow-sm {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-shadow-md {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.text-shadow-lg {
  text-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
}
.text-shadow-none {
  text-shadow: none;
}
.shadowZ {
  mix-blend-mode: multiply;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55),
    0px 36px 100px 0px rgba(0, 0, 0, 0.4);
}

.alert_backing {
  backdrop-filter: blur(40.774227142333984px);
}

.inner_shadow {
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.1) inset;
}
